@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Confirmation";
}

@model FilmCollection.Models.MoviesResponse

<div class="text-center">
    <h2>Reception confirmed</h2>
    <p>@Model.Title has been recorded.</p>
</div>

