@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Listen to a podcast at <a href="https://baconsale.com/">Baconsale</a>.</p>
</div>
